POSTGRES_DB=taskdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123

DB_PORT=5432


# DATABASE_URL=postgresql://admin:admin123@localhost:5432/taskdb

# DATABASE_URL=postgresql://admin:admin123@192.168.88.234:5432/taskdb

DATABASE_URL=postgresql://admin:admin123@5.202.196.163:5432/taskdb


